.container {
    width: 1056px;
    height: 535px;
    margin: 0 auto;
    position: relative;
    background: url("../img/bg.png") no-repeat;
    background-size: 1056px 536px;
}

.title {
    color: white;
    font-size: 30px;
    /*padding: 15px 0;*/
    margin-left: 55px;
    padding-top: 20px;
    list-style-type: none;

}

.playerScore, .gunmanScore {
    display: inline-block;
}

.playerScore:before {
    content: "Player ";
}

.gunmanScore:after {
    content: " Gunman";
}

.scoreCount:before {
    content: "Score: ";
    text-align: center;
}

.gunmanContainer {
    height: 138px;
    width: 75px;
    position: absolute;
    animation-timing-function: linear;
    transition: 5s;
    transform: scale(2);
    margin-top: 155px;
    right: 0;

}

.gunman {
    background-image: url("../img/gunman.png");
    height: 138px;
    width: 75px;
    background-size: 1056px 768px;
    /*transform: rotateY(180deg);*/
    animation: walking 1s step-start;
    animation-iteration-count: 5;

}

.fall {
    animation: falling 1s;
}

@keyframes walking {
    0%  {background-position: 0px 0px;}
    33% {background-position: -75px 0px;}
    66% {background-position: -150px 0px;}
}

@keyframes falling {
    0%  {background-position: -608px 0px;}
    33% {background-position: -683px 0px;}
    66% {background-position: -758px 0px;}
}

@keyframes shake {
    0% { transform: rotate(-1deg); }
    25% { transform: scale(1deg); }
    50% { transform: scale(-2deg); }
    100% { transform: scale(2deg); }
}

.fightMessage {
    height: 80px;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 60px;
    font-weight: bold;
    left: 40%;
    top: 26%;
    text-shadow: 2px 2px 2px black;
 }

.nextLevel {
    width: 186px;
    position: absolute;
    margin: 0 auto;
    color: white;
    font-size: 21px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
    right: 40%;
    top: 63%;
    text-transform: uppercase;
    text-align: center;
    background-color: #26DBFF;
}

.newGame {
    width: 186px;
    position: absolute;
    margin: 0 auto;
    color: white;
    font-size: 21px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
    left: 42%;
    top: 55%;
    text-transform: uppercase;
    text-align: center;
    background-color: #26DBFF;
}

.nextLevel:hover, .newGame:hover {
    background-color: aqua;
    color: black;
}









